.sidebar {
    height: 100%;
    width: 75px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidebar-color);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px 5px;
    text-decoration: none;
    font-size: 14px;
    color: var(--font-color);
    transition: background-color 0.25s, color 0.25s;
}

.sidebar a svg {
    width: 18px;
    height: 18px;
}

.sidebar a:hover {
    background-color: var(--hover-color);
    color: var(--hover-font-color);
}

.news-menu {
    width: 200px;
    height: 100%;
    position: fixed;
    text-align: left;
    z-index: 2;
    top: 0;
    left: 4.6rem;
    overflow-x: hidden;
    background-color: var(--sidebar-color);
    color: var(--font-color);
    border: 2px solid var(--border-color);
}

.news-menu h2 {
    padding-left: 1em;
    margin: 1rem 0;
}

.news-menu a{
    justify-content: left;
    flex-direction: row;
    gap: 10px;
    padding-left: 2em;
}

.lists-news {
    height: 100%;
    position: fixed;
    text-align: left;
    z-index: 3;
    top: -1rem;
    left: 17.3rem;
    overflow-x: hidden;
    color: var(--font-color);
    transition: left 0.3s;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}

.lists-news li {
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lists-news li:hover {
    background-color: var(--hover-color);
}

.lists-news li strong {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.lists-news li p {
    margin: 0;
}